body {
  width: 100dvw;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: calc(41px + 24px * 2) 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main";

  > h1 {
    display:flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    background-color: var(--neutral-dark);
    font-size: 3em;
  }

  > main {
    grid-area: main;
    overflow-x: auto;
    padding: 0 var(--spacing-2);
  }

  > aside {
    grid-area: sidebar;
  }
}

@media (min-width: 1200px) {
  body {
    grid-template-columns: 200px 1fr;
    grid-template-areas: "sidebar header" "sidebar main";
  }
}
