.card {
  position: relative;
}

.card .card-effect {
  display: flex;
  align-items: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card :is(.id, .emojis, .amount) {
  position: absolute;
  background-color: black;
  color: white;
  opacity: 0.8;
  padding: 0.2rem 0.5rem;
  border-radius: 1em;
}

.card .id {
  left: 5px;
  bottom: 5px;
}
.card:not(:hover) .id {
  visibility: hidden;
}

.card .emojis {
  top: 5px;
  right: 5px;
}
.emojis:empty {
  visibility: hidden;
}

.card .amount {
  bottom: 5px;
  right: 5px;
}

.card-effect {
  transition: transform 200ms ease-in-out;
  transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
}
