.deck {
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.deck > summary {
  text-align: center;
  list-style: none;
}

.card-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
}

.card-list li {
  list-style: none;
  width: 10rem;
}
