.deck {
  --card-width: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4);
  margin: var(--spacing-4) 0;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-width));
  gap: var(--spacing);
  max-width: 100%;
}

.card-list li {
  list-style: none;
  width: var(--card-width);
}
