.focused-card {
  position: fixed;
  inset: 0;
  z-index: 1;
  height: 100svh;
  max-height: 100dvh;
  max-width: 100vw;
  box-sizing: border-box;
  will-change: background-color;
}

.focused-card .card-data .id {
  /* never hide the ID */
  visibility: visible !important;
}

/*
 * Background transition
 */

.focused-card--enter {
  background-color: transparent;
}

.focused-card--enter-active,
.focused-card--ready,
.focused-card--exit {
  background-color: rgba(0, 0, 0, 0.5);
}

.focused-card--exit-active {
  background-color: transparent;
}

.focused-card--exit-active,
.focused-card--exit-active {
  transition: background-color 200ms ease-in-out;
}

/*
 * Card grow transition
 */

.focused-card--enter .card-data {
  top: var(--card-top);
  left: var(--card-left);
  width: var(--card-width);
  height: var(--card-height);
}

.focused-card--enter-active .card-data,
.focused-card--ready .card-data,
.focused-card--exit .card-data {
  top: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
}

.focused-card--exit-active .card-data {
  top: var(--card-top);
  left: var(--card-left);
  width: var(--card-width);
  height: var(--card-height);
}

.focused-card--enter-active .card-data,
.focused-card--exit-active .card-data {
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-property: top, left, width, height;
}
