.focused-card {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  top: var(--card-top);
  left: var(--card-left);
  width: var(--card-width);
  height: var(--card-height);
}

.focused-card--enter-active,
.focused-card--ready,
.focused-card--exit {
  top: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
}

.focused-card--enter-active,
.focused-card--exit-active {
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-property: top, left, width, height;
}

.focused-card--exit-active {
  top: var(--card-top);
  left: var(--card-left);
  width: var(--card-width);
  height: var(--card-height);
}
