.card-data {
  position: relative;
  display: flex;
  
  --padding: 5px;
}

.card-data > :not(.card) {
  position: absolute;
  background-color: black;
  color: white;
  opacity: 0.8;
  padding: 0.2rem 0.5rem;
  border-radius: 1em;
}

.card-data .id {
  left: var(--padding);
  bottom: var(--padding);
}
.card-data:not(:hover) .id {
  visibility: hidden;
}

.card-data .emojis {
  top: var(--padding);
  right: var(--padding);
}
.card-data .emojis:empty {
  visibility: hidden;
}

.card-data .amount {
  bottom: var(--padding);
  right: var(--padding);
}
