/*
 * Deck stats styles
 */

.deck-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--spacing-2);
}

.deck-stats li {
  list-style: none;
}

.deck-stats button {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.deck-stats .excluded {
  opacity: 0.4;
}
