.deck-filters {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  column-gap: var(--spacing-2);
  row-gap: var(--spacing);

  & .filter-separator {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    height: 1.8em;

    &:last-child {
      display: none;
    }
  }

  & button {
    display: flex;
    align-items: center;
    gap: var(--spacing);
  }

  & .filter-included {
    font-weight: bold;
  }

  & .filter-excluded {
    opacity: 0.4;
    text-decoration: line-through;
  }
}
