/*
 * Heading styles
 */

.deck > summary {
  text-align: center;
  list-style: none;
  background-color: transparent;
  transition: transform 0.2s ease-in-out;
}

.deck > summary h2 {
  margin: 0;
  padding: 0.83em 0;
}

.deck:not([open]) > summary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.deck > summary small::after {
  display: inline-block;
  margin-left: 1em;
  /* content: '▶'; */
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.deck[open] > summary small::after {
  transform: rotate(90deg);
}

/*
 * Card list styles
 */

.card-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
}

.card-list li {
  list-style: none;
  width: 10rem;
}
