.focused-card {
  position: fixed;
  inset: 0;
  z-index: 1;
  max-height: 100dvh;
  max-width: 100dvw;
  box-sizing: border-box;
  background-color: transparent;

  will-change: background-color;
  transition: background-color 200ms ease-in-out;
}

.focused-card .card-data {
  top: var(--card-top);
  left: var(--card-left);
  width: var(--card-width);
  height: var(--card-height);
  font-size: 1em;

  will-change: top, left, width, height, font-size;
  transition-property: top, left, width, height, font-size;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.focused-card .card-data .id {
  /* never hide the ID */
  visibility: visible !important;
}

/*
 * Transitions
 */

.focused-card--active {
  background-color: rgba(0, 0, 0, 0.5);
}

.focused-card--active .card-data {
  top: 10px;
  left: 10px;
  width: calc(100dvw - 20px);
  height: calc(100dvh - 20px);
  font-size: 2em;
}
