.deck-filters {
  max-width: 100%;

  .row {
    max-width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & button {
    display: flex;
    align-items: center;
    gap: var(--spacing);
    border-radius: 0;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  & .filter-included {
    font-weight: bold;
  }

  & .filter-excluded {
    opacity: 0.4;
    text-decoration: line-through;
  }
}
