.deck {
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.deck > summary {
  text-align: center;
  list-style: none;
}

.card-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
}

.card-list li {
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card img {
  width: 10rem;
}

car .card :not(img) {
  position: absolute;
  inset: 5px;
  top: auto;
  display: grid;
  grid-template-areas: 'id emojis amount';
  grid-template-columns:
    [id] max-content
    [emojis] 1fr
    [amount] min-content;
  /* align-items: center;
  justify-content: space-between; */
}

.card :is(code, span, li) {
  background-color: black;
  color: white;
  opacity: 0.8;
  padding: 0.2rem 0.5rem;
  border-radius: 1em;
}

.card code {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
.card:not(:hover) code {
  visibility: hidden;
}

.card ul {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card span {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.emojis:empty {
  visibility: hidden;
}

/* .card span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: black;
  color: white;
  opacity: 0.8;
  padding: 0.2rem 0.5rem;
  border-radius: 1em;
}

.card .emojis {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: black;
  color: white;
  opacity: 0.8;
  padding: 0.2rem 0.5rem;
  border-radius: 1em;
} */
